	
	

	nav	{
			font-size: 1.2em;
		   	background-color: rgb(240, 185, 131);
			border-style: ridge;
			border-color: brown;
			margin-top: 2%;	
			}

	nav a	{
		   	color: black;
		   	padding: 2px 80px ;
			display: inline;
			}

	nav a:hover	{
			background-color:brown;
			color: blue;
			display: inline;
			}
		img{
				height: 100px;
				width: 15%;
				float: right;
				margin-top: 0ch;
				padding-right: 15%;
				
			}